<html>
    <head>
        <title>BasicWebApp</title>
    </head>
            <body>
        <h1>Welcome @ViewBag.GuestName</h1>
        
                    <form method="post" action="/Interest/Simple">
                        <br>
                        <b>Principal: </b></br>
                        <input type="text" name="Principal"/></br>
                        <br>
                        <b>Rate: </b></br>
                        <input type="text" name="Rate"/></br>
                        <br>
                        <b>Years: </b></br>
                        <input type="text" name="Years"/></br>

                        <br>
                        <input type="submit" value="Calculate"/>
                    </form>
            </body>
    </html>
</html>
