   <html>
        <head>
            <title>Simple Interest</title>
        </head>
        <body>
           <body style="background-color:powderblue;"></body>
            <h1>Simple Interest Calculator</h1>
            <b>Your Calculated Interest = </b>@ViewBag.simple
        </body>
   </html> 


